<div class="container-fluid" style="margin: 30px !important;">
	<table style="border-collapse: collapse;width: 100%;border: 1px solid black; text-align: center;">
		<tr style="border: 1px solid black;height: 50px;">
			<th style="border: 1px solid black; width: 500px; text-align: center;">Name</th>
			<th style="border: 1px solid black;text-align: center;">Description </th>
		</tr>
		<% @charities.each do |charity|%>
		<tr>
			<td style="border: 1px solid black;"><%= charity.name %></td>
			<td style="border: 1px solid black;"><%= charity.description %></td>
		</tr>
		<% end %>
	</table>
</div>