<ul style="list-style-type:none;">
	<li>
	<p> Name </p>
	<p><%= @charity.name %></p>	
	</li>
	<li>
		<p>Description</p>
	<p><%= @charity.description %></p>
	</li>
</ul>

<%= link_to 'Back', root_path %>